[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Exec=libreoffice24.8 %U
MimeType=application/vnd.oasis.opendocument.text-flat-xml;application/vnd.oasis.opendocument.spreadsheet-flat-xml;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.presentation-flat-xml;
Name=LibreOffice 24.8 XSLT based filters
GenericName=XSLT based filters
GenericName[af]=XSLT-gebaseerde filters
GenericName[am]=XSLT መሰረት ያደረገ ማጣሪያ
GenericName[ar]=مرشّحات تعتمد XSLT
GenericName[as]=XSLT ভিত্তিয় ফিল্টাৰসমূহ
GenericName[ast]=Peñeres basaes en XSLT
GenericName[be]=Фільтры на аснове XSLT
GenericName[bg]=XSLT филтри
GenericName[bn]=XSLT based filters
GenericName[bn_IN]=XSLT ভিত্তিক ফিল্টার
GenericName[bo]=XSLT based filters
GenericName[br]=Siloù diazezet war XSLT
GenericName[brx]=XSLT based filters
GenericName[bs]=XSLT bazirani filteri
GenericName[ca]=Filtres basats en XLST
GenericName[ca_valencia]=Filtres basats en XLST
GenericName[ckb]=XSLT based filters
GenericName[cs]=Filtry používající XSLT
GenericName[cy]=Hidlau yn seiliedig ar XSLT
GenericName[da]=XSLT baserede filtre
GenericName[de]=XSLT basierte Filter
GenericName[dgo]=XSLT based filters
GenericName[dsb]=Filtry na zakłaźe XSLT
GenericName[dz]=XSLT based filters
GenericName[el]=Φίλτρα με βάση XSLT
GenericName[en]=XSLT based filters
GenericName[en_GB]=XSLT based filters
GenericName[en_ZA]=XSLT based filters
GenericName[eo]=XSLT-bazitaj filtriloj
GenericName[es]=Filtros basados en XSLT
GenericName[et]=XSLT-põhised filtrid
GenericName[eu]=XSLTn oinarritutako iragazkiak
GenericName[fa]=پالایه‌های مبتنی بر XSLT
GenericName[fi]=XSLT-pohjaiset suodattimet
GenericName[fr]=Filtres basés sur XSLT
GenericName[fur]=XSLT based filters
GenericName[fy]=Filter basearre op XSLT
GenericName[ga]=Scagairí bunaithe ar XSLT
GenericName[gd]=Criathragan stèidhichte air XSLT
GenericName[gl]=Filtros baseados en XSLT
GenericName[gu]=XSLT આધારિત ફિલ્ટરો
GenericName[gug]=Mbogua kuéra basados en XSLT
GenericName[he]=מסננים מבוססי XSLT
GenericName[hi]=XSLT आधारित फिल्टर
GenericName[hr]=XSLT temeljeni filtri
GenericName[hsb]=Filtry na zakładźe XSLT
GenericName[hu]=XSLT-alapú szűrők
GenericName[hy]=XSLT-ի վրա հիմնված զտիչներ
GenericName[id]=Penapis berbasis XSLT
GenericName[is]=Síur byggðar á XSLT
GenericName[it]=Filtri basati su XSLT
GenericName[ja]=XSLTベースのフィルター
GenericName[ka]=XSLT-ზე დაფუძნებული ფილტრები
GenericName[kab]=Tistayin yebnan ɣef XSLT
GenericName[kk]=XSLT сүзгілері
GenericName[km]=តម្រង​មាន​មូលដ្ឋាន​លើ XSLT
GenericName[kmr_Latn]=XSLT based filters
GenericName[kn]=XSLT ಆಧರಿತ ಫಿಲ್ಟರುಗಳು
GenericName[ko]=XSLT 기반 필터
GenericName[kok]=XSLT based filters
GenericName[ks]=XSLT based filters
GenericName[lb]=XSLT based filters
GenericName[lo]=ຕົວກັ່ນຕອງໂດຍອີງໃສ່ XSLT
GenericName[lt]=XSLT filtrai
GenericName[lv]=Uz XSLT balstīts filtrs
GenericName[mai]=XSLT based filters
GenericName[mk]=XSLT based filters
GenericName[ml]=എക്സ്എസ്എല്‍റ്റി അടിസ്ഥാനത്തിലുള്ള ഫില്‍റ്ററുകള്‍
GenericName[mn]=XSLT дээр суурьласан шүүлтүүр
GenericName[mni]=XSLT based filters
GenericName[mr]=XSLT आधारित फिल्टरस्
GenericName[my]=XSLT based filters
GenericName[nb]=XSLT-baserte filtre
GenericName[ne]=XSLT based filters
GenericName[nl]=Filters gebaseerd op XSLT
GenericName[nn]=XSLT-baserte filter
GenericName[nr]=XSLT based filters
GenericName[nso]=XSLT based filters
GenericName[oc]=Filtres basats sus XSLT
GenericName[om]=Gingilchaa XSLT
GenericName[or]=XSLT ଆଧାରିତ ଛାଣକଗୁଡ଼ିକ
GenericName[pa_IN]=XSLT ਅਧਾਰਿਤ ਫਿਲਟਰ
GenericName[pl]=Fltry bazujące na XSLT
GenericName[pt]=Filtros baseados em XSLT
GenericName[pt_BR]=Filtros baseados em XSLT
GenericName[ro]=Filtru bazat pe XSLT
GenericName[ru]=Фильтры XSLT
GenericName[rw]=XSLT based filters
GenericName[sa_IN]=XSLT based filters
GenericName[sat]=XSLT based filters
GenericName[sd]=XSLT based filters
GenericName[si]=XSLT based filters
GenericName[sid]=XSLT safo assidhino meemo
GenericName[sk]=Filtre používajúce XSLT
GenericName[sl]=Filtri na osnovi XSLT
GenericName[sq]=Filtri me bazë XSLT
GenericName[sr]=Филтери засновани на XSLT
GenericName[sr_Latn]=Filteri zasnovani na XSLT
GenericName[ss]=XSLT based filters
GenericName[st]=XSLT based filters
GenericName[sv]=XSLT-baserade filter
GenericName[sw_TZ]=XSLT based filters
GenericName[szl]=Filtry, co bazujōm na XSLT
GenericName[ta]=XSLT அடிப்படையிலான வடிகட்டிகள்
GenericName[te]=XSLT ఆధారిత ఫిల్టర్స్
GenericName[tg]=XSLT based filters
GenericName[th]=ตัวกรองอิง XSLT
GenericName[tl]=Mga filter na batay sa XSLT
GenericName[tn]=XSLT based filters
GenericName[tr]=XSLT tabanlı süzgeçler
GenericName[ts]=XSLT based filters
GenericName[tt]=XSLT based filters
GenericName[ug]=XSLT ئاساسىدىكى سۈزگۈچلەر
GenericName[uk]=Фільтри XSLT
GenericName[uz]=XSLT based filters
GenericName[ve]=XSLT based filters
GenericName[vec]=Filtri bazài so XSLT
GenericName[vi]=Trình lọc theo XSLT
GenericName[xh]=XSLT based filters
GenericName[zh_CN]=基于 XSLT 的过滤器
GenericName[zh_TW]=基於 XSLT 的過濾器
GenericName[zu]=XSLT based filters
NoDisplay=true
StartupNotify=true
X-GIO-NoFuse=true
X-KDE-Protocols=file,http,webdav,webdavs
